<!DOCTYPE html>
{% extends "candidates/base_temp.html" %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Добавить навык{% endblock %}</title>
</head>
<body>
{% block content %}
<h2>Добавить навык</h2>
    <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        Выберете навыки из списка:
            {{ form.as_p }}
        <button type="submit">Добавить</button>
    </form>
<p></p>
<form action="/profile/">
    <button>Назад</button>
</form>
{% endblock %}
</body>
</html>